.n1-top{
    position: absolute;
    width :20%;
   top: 10px;
   right: 100px;
   bottom: 200px;
   left: 100px;
   
}

.n1-dow{
    position: absolute;
    width :10%;
    top: 50px;
    right: 00px;
    bottom: 00px;
    left: 800px;
    
}
.n2-top{
    position: absolute;
    width :10%;
    top: 150px;
    right: 100px;
    bottom: 400px;
    left: 700px;
 }
 .n2-dow{
    position: absolute;
    width :15%;
    top: 200px;
    right: 100px;
    bottom: 40px;
    left: 300px;
 }